.overview_container {
  margin: 1rem 15px;
  display: flex;
  flex-direction: column;
}

.overview_container h5 {
  color: white;
}

.sub_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_container {
  margin-left: 1rem;
  padding: 1rem 1rem;
  background-image: url(../assets/mig_search_cont_frame.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_container p {
  margin-bottom: 0;
  font-weight: light;
  font-size: 12px;
}

.address_input {
  margin: 0 1rem;
  padding: 0 1rem;
  border-radius: 8px;
  height: 1.8rem;
  width: 250px;
  background-color: transparent;
  border: 1px solid #767e85;
  color: #767e85;
}

.checked_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0;
  padding: 5px 10px;
  font-size: 14px;
  color: green;
  background-color: #35383a;
  border-radius: 10px;
  border: 1px solid #767e85;
}

.total_amt_container {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  padding: 2rem 1rem;
  background-image: url(../assets/total_amt_frame.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.total_amt_container p {
  margin-bottom: 0;
  margin-left: 0.6rem;
}

.total_info_icon {
  background: #1e2226;
  border: 0.5px solid rgb(60, 58, 58);
  border-radius: 5px;
  padding: 3px;
}

.total_stats {
  font-size: 10.5px;
}
