.table_container {
  margin: 0 15px 1rem;
}

.table_claim_btn {
  color: white;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 0.6rem 0.6rem;
  background: transparent;
}

.pagination_div {
  padding: 3rem 3rem;
  background-image: url(../assets/pagination_frame.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.resutls_text p {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: lighter;
}

.page_no_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_number_btn {
  cursor: pointer;
  margin: 0px 5px;
  background: #1f2428;
  border: 1px solid whitesmoke;
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
}

.pagination_btn {
  cursor: pointer;
}

.setting_btn {
  background: #1f2428;
  border: 1px solid whitesmoke;
  padding: 0.8rem 0.8rem;
  border-radius: 10px;
}
